#logoMain {
	display: block;
	max-height: 256px;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 30px;
}

#logoSmall {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 144px;
	width: 157px;
	margin: 15px 15px 15px 0px;
}

#logoPart {
	display: block;
	height: 144px;
	width: 157px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

#leaderControls {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 144px;
	min-width: 700px;
	margin: 15px 0px 15px 15px;
}

#leaderInput {
	display: inline-block;
	position: relative;
	height: 90px;
	width: 550px;
	resize: none;
	padding-left: 5px;
}

#boxesAndButtons {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 90px;
	margin-left: 10px;
}

#stats {
	display: block;
	margin-bottom: 3px;
}

#pushQ {
	margin-top: 7px;
	width: 100px;
}

.startButtons {
	min-width: 220px;
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 10px;
}

.startButtonText {
	position: relative;
	top: -3px;
	font-size: 16px;
	margin-left: 4px;
	margin-right: 4px;
}

.startButtonImg {
	margin-top: 2px;
	margin-left: 4px;
}

.startInstructions {
	margin-top: 38px;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 16px;
	font-weight: 400;
	color: #ebebeb;
}

.startSubmit {
	width: 70px;
	height: 34px;
	display: table-cell;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 16px;
	text-decoration: none;
}
.full {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	min-width: 960px;
}

.header {
	height: 174px;
}

.centerMe {
	width: 223px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.centered {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#promptBox {
	height: 126px;
	margin: 5px auto 10px auto;
}

#particControls {
	height: 242px;
}

#myScratchpost {
	display: block;
	padding: 5px 9px 5px 9px;
	height: 212px;
	width: 428px;
	margin: 10px auto 10px auto;
	resize: none;
	background-color: white;
	border: 5px solid #97FF93;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #4f4f4f;
}

#buttonsAndHistory {
	width: 428px;
	margin: 5px auto 5px auto;
	height: 150px;
}

#playNice {
	display: inline-block;
	margin-left: 15px;
}
