.background {
	width:100%;
	background-image: -ms-radial-gradient(center, ellipse closest-corner, #808080 0%, #474747 100%);
	background-image: -moz-radial-gradient(center, ellipse closest-corner, #808080 0%, #474747 100%);
	background-image: -o-radial-gradient(center, ellipse closest-corner, #808080 0%, #474747 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #808080), color-stop(1, #474747));
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #808080 0%, #474747 100%);
	background-image: radial-gradient(ellipse closest-corner at center, #808080 0%, #474747 100%);
}

.buttons {
	border:1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: "Ubuntu";
	font-weight: 400;
	padding: 4px;
	text-decoration: none;
	color: #808080;
 	background-color: #F0F0F0;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#CDCDCD));
 	background-image: -webkit-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -moz-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -ms-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -o-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: linear-gradient(to bottom, #F0F0F0, #CDCDCD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F0F0F0, endColorstr=#CDCDCD);
 	box-shadow: 2px 2px 5px #3d3d3d;
}

.buttons:hover {
 background-color: #F7F7F7;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#e0e0e0));
 background-image: -webkit-linear-gradient(top, #F7F7F7, #e0e0e0);
 background-image: -moz-linear-gradient(top, #F7F7F7, #e0e0e0);
 background-image: -ms-linear-gradient(top, #F7F7F7, #e0e0e0);
 background-image: -o-linear-gradient(top, #F7F7F7, #e0e0e0);
 background-image: linear-gradient(to bottom, #F7F7F7, #e0e0e0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F7F7, endColorstr=#e0e0e0);
}

.buttons:active {
	margin-top: 1px;
	-webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.buttons:disabled {
	background-color: #F0F0F0;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#CDCDCD));
 	background-image: -webkit-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -moz-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -ms-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -o-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: linear-gradient(to bottom, #F0F0F0, #CDCDCD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F0F0F0, endColorstr=#CDCDCD);
 	box-shadow: none;
 	color: #c0c0c0;
}

.thinLine {
	height: 2px;
	width: 95%;
	margin: 20px 2.5% 20px 2.5%;
	background: -moz-linear-gradient(left,  rgba(79,79,79,0) 0%, rgba(235,235,235,1) 17%, rgba(235,235,235,1) 83%, rgba(79,79,79,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(79,79,79,0)), color-stop(17%,rgba(235,235,235,1)), color-stop(83%,rgba(235,235,235,1)), color-stop(100%,rgba(79,79,79,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(79,79,79,0) 0%,rgba(235,235,235,1) 17%,rgba(235,235,235,1) 83%,rgba(79,79,79,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(79,79,79,0) 0%,rgba(235,235,235,1) 17%,rgba(235,235,235,1) 83%,rgba(79,79,79,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(79,79,79,0) 0%,rgba(235,235,235,1) 17%,rgba(235,235,235,1) 83%,rgba(79,79,79,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(79,79,79,0) 0%,rgba(235,235,235,1) 17%,rgba(235,235,235,1) 83%,rgba(79,79,79,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f4f4f', endColorstr='#004f4f4f',GradientType=1 ); /* IE6-9 */
}

.startField {
	height: 34px;
	width: 143px;
	vertical-align: middle;
	border-radius: 3px;
	box-shadow: inset 1px 1px 2px 0 #e0e0e0;
 	box-shadow: 2px 2px 5px #3d3d3d;
}


p {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #ebebeb;
}

textarea {
	font-family: "Source Code Pro";
	white-space: pre-wrap;
	color: #4f4f4f;
}

.large {
	font-family: "Ubuntu";
	font-weight: 700;
	font-size: 24pt;
	text-shadow: 2px 2px #4f4f4f;
}

.small {
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 10pt;
	color: #ebebeb;
	margin-right: 20px;
}

.tiny {
	font-family: "Ubuntu";
	font-weight: 300;
	font-size: 8pt;
	color: #ebebeb;
	margin-right: 20px;
}

.byline {
	font-family: "Ubuntu";
	font-weight: 300;
	font-size: 8pt;
	color: #4f4f4f;
	vertical-align: top;
}

.closeWindow {
	display: inline-block;
}
input {
	font-family: "Source Code Pro";
	font-size: 10pt;
	color: #4f4f4f;
	padding-left: 5px;
}

.styledDropdown {
	margin-top: 5px;
}

.submittedDropdown {
  width: 308px;
  height: 20px;
  overflow: hidden;
  background-color: #F0F0F0;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#CDCDCD));
 	background-image: -webkit-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -moz-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -ms-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: -o-linear-gradient(top, #F0F0F0, #CDCDCD);
 	background-image: linear-gradient(to bottom, #F0F0F0, #CDCDCD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F0F0F0, endColorstr=#CDCDCD);
  border: 1px solid #ccc;
}
.submittedDropdown select {
  background: transparent;
  width: 308px;
  padding: 5px;
  font-size: 8px;
  font-family: "Source Code Pro";
  color: #4f4f4f;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 20px;
  -webkit-appearance: none;
}

.submittedDropdown select option {
	color: #4f4f4f;
}

.green {
	color: #97FF93;
}

.yellow {
	color: #FFFFA3;
}

.blue {
	color: #A0DAFF;
}

