<div ng-controller="LeaderControl">

	<section class="full header">
		<img id="logoSmall" src="img/logo.png">
		<div id="leaderControls">
			<div id="stats">
				<span class="tiny">Session ID: {{sessID}}</span>
				<span class="tiny">Active participants: {{attendance}}</span>
			</div>
			<textarea id="leaderInput" type="text" ng-model="question" placeholder="Please enter a question to be pushed to your users." autofocus></textarea>
			<div id="boxesAndButtons">
				<div class="boxAndLabel">
					<input type="checkbox" ng-model="checkboxes.noAnon">
					<span class="small">Show names</span>
				</div>
				<div class="boxAndLabel">
					<input type="checkbox" ng-model="checkboxes.noRedo">
					<span class="small">Disallow resubmits</span>
				</div>
				<div class="boxAndLabel">
					<input type="checkbox" ng-model="checkboxes.noShow">
					<span class="small">Hide answers</span>
				</div>
				<button ng-click="pushQuestion()" id="pushQ" class="buttons" ng-disabled="!question || (question === currentQ)">Submit</button>
			</div>
			<div class="styledDropdown">
				<select class="submittedDropdown" ng-model="history" ng-init="history=allQuestions[0]" ng-options="allQuestions[num] | limitTo:30 for (num, content) in allQuestions" ng-change="resubmit()"></select>
			</div>
	</section>

	<div class="thinLine"></div>



</div>






