<div ng-controller="ParticControl">
	<img id="logoPart" src="img/logo.png">
	<span class="large blue centered">Welcome, {{userID}}.</span>
	<!--Dividing line between header and main content-->
	<div class="thinLine"></div>
	<!--Prompt and participant input-->
	<pre id="myPrompt">{{prompt}}</pre>
	<textarea id="myScratchpost" ng-model="myAnswer" autofocus placeholder="Type your answer here."></textarea>
	<div id="buttonsAndHistory">
		<!--Submission button for pushing answers-->
		<button ng-click="pushAnswer()" id="pushQ" class="buttons"
		ng-disabled="!myAnswer || (myAnswer === currentA)">Submit</button>
		<!--Dropdown for history/resubmission-->
		<div class="styledDropdown" id="playNice">
				<select class="submittedDropdown"
				ng-model="history"
				ng-init="history=allAnswers[0]"
				ng-options="answer for answer in allAnswers | limitTo:30"
				ng-change="resubmit()"></select>
		</div>
	</div>
</div>
